@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-02-28 10:13:24
 * @version $Id$
 */
/*公共部分*/
html {font-size: 625%;}
body {width: 100%; font-size: 14px; font-size: .14rem; background: url(../images/bg.jpg);}
.comwidth {margin: 0px 60px;}
.contents {white-space: normal; word-warp:break-word; overflow-x: hidden; line-height: 25px;}
/*导航栏*/
.tucaoba {color: white;}
header {line-height: 55px; background-color: #2e3138;}
#logo {margin-left: 4.89251297257%;}
header nav  {margin-right: 2.14974054855%;}
header nav li {float: right;}
#logo a {display: block; font-size: 30px; font-size: .3rem; color: #fff;}
#logo a span {color: #52d2ed;}
header nav a {font-size: 18px; font-size: .18rem; color: #acb0bc;}
/* .btn-gp a {
	display: inline-block;height: 26px; height: .26rem;
	border-radius: 3px; vertical-align: middle; margin-left: 10px; margin-left: .1rem; text-align: center;
	line-height: 26px; line-height: .26rem; color: #2e3136; background-color: #aab0be;
} */

.btn-gp {color: #d75d10; font-size: 14px; font-size: .14rem;}

.btn {
	height: 26px; height: .26rem;
	border-radius: 3px; vertical-align: middle; margin-left: 10px; margin-left: .1rem; text-align: center; 
	padding: 0px 5px 0px 5px;
	line-height: 26px; line-height: .26rem; color: #2e3136; background-color: #aab0be;
}

.btn-blue {
	background-color: #98cbf6;
}

.currentChannel {
	background-color: #d75d10;
}
.currentChannel a{
	color: white;
}

/* .btn-gp a:first-child {margin-left: 0;} */

header nav ul {margin-right: 11px; margin-right: .11rem;}
header nav li a {display: block; margin: 0 25px; margin: 0 .25rem; transition:.4s all;}
header nav li a:hover {color: #d75d10;}
header nav li a:active {color: #d75d10;}

/*banner部分*/
#banner {width: 100%;}
.slideBox{ width:100%; height:auto; overflow:hidden; position:relative;}
.slideBox .bd{ position:relative; height:100%; z-index:0;}
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:100%; height:auto; display:block;}

/*主页面*/

.container {}
.testim_img {max-width:30%;}
.container h1 {
	width: 100%; padding: 28px 0; padding: .28rem 0; line-height: 1; text-align: center;
	font-size: 18px; font-size: .18rem; font-weight: normal; color: #3f3f3f; background-color: #fff;
	margin-bottom: 27px; margin-bottom: .27rem;
}
.container .h1style {padding-bottom: 10px;}
.container .h1style span {font-size: 18px; font-size: .18rem; color: #1eb1d0;}
.container section .first {margin-left: 0;}
.container section a:hover , .container section a:active {text-decoration: underline;}
.container section {
	/* float: left; width: 24.11003236245955%; margin-left: 1.18123%; margin-bottom: 1em; */
	background-color: #fff; box-shadow: 0 0 10px #e0e0e0;
}
	
.zhuti-bar {width: 89%; margin: 0 auto; padding-top: 16px; padding-top: .16rem;border-bottom: 1px dashed #ccc;}
.zhuti {display: block;}
.zhuti img {display: block; width: 100%;}
.zhuti-bar p {margin: 8px 0; margin: .08rem 0; line-height: 1.8;}
.zhuti-bar p a {color: #000;}
.zhuti-bar .fenlei {margin: 0 4px; margin: 0 .04rem; text-decoration: underline; color: #cfcfda;}
.pinglun li {
	border-top: 1px solid #d9d4d4; padding: 14px 5.03355705%; padding: .14rem 5.03355705%;
	background:url(../images/icon_arrow.gif) no-repeat 5.03355705% 16px; background-color: #f7f7f7;
}
.pinglun li a {color: #cfcfda;}
.pinglun li div {float: left; width: 78%; margin-left:3px; margin-left: .03rem;}
.pinglun .first  {background-color: #f2f0f0; background-image: none;}
.touxiang {
	float: left; display: block; width: 30px; height: 30px; width: .3rem; height: .3rem;
	margin-left: 22px; margin-left: .22rem; border: 1px solid #fff;
	border-radius: 15px; border: .15rem; overflow: hidden; vertical-align: top; transition:.4s all;
}
.pinglun .first .touxiang {margin-left: 0;}
.touxiang:hover,.touxiang:active {border-radius: 0;}
.pinglun li .name {color: #3366cc; margin-left: 3px;}
/*页脚部分*/
footer {
	clear: both; border-top: 1px solid #d5d5d5; font-size: 14px;
	color: #535353; background-color: #ddd;
}
.foot-nav li {float: right;}
.foot-nav li a {display: inline-block; margin: 0 9px; margin: 0 .09rem; transition:.4s all;}
.foot-nav li a:hover,.foot-nav li a:active {color: #d75d10;}
