/* @charset "UTF-8";
*
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-02-28 17:33:22
 * @version $Id$

 header {text-align: center; line-height: 1.6; padding: .5em;}
#logo {float: none; margin-left: 0;}
header nav.fr {display: inline-block; float: none; margin-right: 0;}

.container section {width: 49%; margin-left: 2%;}
.container section.left {margin-left: 0;}

footer {text-align: center; line-height: 1.6; padding: .5em;}
footer p.fl {float: none; width: 100%;}
footer .foot-nav {float: none; display: inline-block;} */

.comwidth {margin: 0 auto;}
